body{
    background: peachpuff url("OrigamiImages/background.jpg") margin="0" padding="0" fixed;
}

h1{
    background-image: url("OrigamiImages/back.jpg");
    color:rgb(248, 58, 52);
    font-family: Lucida handwriting, sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid rgb(255, 0, 200);
    border-radius:30px;
    padding: 30px;
}

li{
    color:rgb(199, 29, 199);
    font-family: Brush Script MT, cursive;
    font-size: 24px;
}

p{
    color: rgb(105, 134, 45);
    font-family: Brush Script MT, cursive;
    font-size: 30px;
}

.menu{
    display:flex;
    justify-content: space-around;
    background-color:black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight:400;
    color: white;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: Algerian;
    text-align: center;
}